
@{
    ViewData["Title"] = "CssExample";
}
@section CSS{
    <link rel="stylesheet" href="~/css/ViewCssExample.css" asp-append-version="true" />
<style>
    p{
        background-color:green;
    }
</style>
}
<h1>CssExample</h1>
<h2>Header 2</h2>
<p>CSS</p>
