
@{
    ViewData["Title"] = "RenderSectionExample";
    Layout = "~/Views/Shared/ExampleLayout.cshtml";
}
@section header{
    <header>Asenkron Header</header>
}
@section footer{
    <footer>Asenkron Footer</footer>
}
<h1>RenderSectionExample</h1>

