<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @await RenderSectionAsync("header",required:false)
    <div style="font-family:Arial; color:aquamarine;">
        @RenderBody()
    </div>
    @await RenderSectionAsync("footer",required:false)
</body>
</html>
